html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    font-size: 20px;
}

footer {
    background: rgba(150, 150, 150, 0.5);
    border-top: solid 1px;
    bottom: 0;
    font-size: 0.5em;
    height: 1.5em;
    left: 0;
    padding-right: 0.5em;
    position: fixed;
    text-align: right;
    width: 100%;
}

header {
    background: rgba(150, 150, 150, 0.5);
    border-bottom: solid 1px;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    position: fixed;
    width: 100%;
    z-index: 999;
}

main {
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
}

pre {
    counter-reset: line;
    max-height: 200px;
    max-width: 800px;
}

code {
    counter-increment: line;
    font-family: Courier New;
    font-weight: bold;
}

code::before {
    content: counter(line);
    display: inline-block;
    width: 4em; /* Fixed width */
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888;
    -webkit-user-select: none;
}

th, td {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

tr:hover {
    background-color: #ffffcc;
}

td:hover {
    background-color: #ffcccc;
}
